pydantic==2.11.7
pydantic-core==2.33.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
referencing==0.36.2
rpds-py==0.26.0
fastjsonschema==2.21.1
annotated-types==0.7.0
typing-extensions==4.14.1
attrs==25.3.0